---
---

@import "{{ site.theme }}";

@media print, screen and (min-width: 961px) {
  section {
      width:700px;
  }

  .wrapper {
      width:1060px;
  }
}

a:hover, a:focus {
    text-decoration: underline;
    font-weight: initial;
}

h1 a:hover, h1 a:focus {
    font-weight: 700;
}

small {
    font-size: 10px;
}
