---
---

@import "{{ site.theme }}";

@media print, screen and (min-width: 961px) {
  section {
      width:700px;
  }

  .wrapper {
      width:1060px;
  }
}

a:hover, a:focus {
    font-weight:400;
    text-decoration: underline;
}

small {
    font-size: 10px;
}
